.page {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Các helper class cho avatar màu */
.bgBlue {
  background: #eff6ff;
  color: #2563eb;
}
.bgPink {
  background: #fdf2f8;
  color: #db2777;
}
